<html lang="es">  
    <body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" width="360" alt="logo de mercado libre">
        <div> <input type="text" placeholder="Busca aquí"></div>
        <p> Compra en cuotas y sin targeta de crédito </p>
        <nav>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li>Crea tu cuenta</li>
                <li>Ingresar</li>
                <li>Mis compras</li>
                
            </ul>
        </nav>
    </header>
    <section>
        <img src="/images/img-home-banner.jpg" width="360" alt="home banner">
    </section>

    <main>
        <section>
            <h3>Basado en tu ultima visita</h3>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="imagen de cafetera">
                <p>6.770</p>
                <p>40% off</p>
                <h4>Cafetera moulinex</h4>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="imagen de macbook">
                <p>230.000</p>
                <p>20% off</p>
                <h4>Macbook Pro 2019</h4>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="imagen de galaxy-s10">
                <p>70.500</p>
                <p>10% off</p>
                <h4>Samsung galaxy-s10</h4>
            </div>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="imagen de tv samsung smart">
                <p>23.200</p>
                <p>5% off</p>
                <h4>SmartTv Samsung 43''</h4>
            </div>
        </section>
        <section></section>
    </main>
    <footer>

        <ul> 
            <li><h3>Pagá con tarjeta o en efectivo</h3></li>
            <p>Con Mercado Libre Cash, tenés cuotas sin interes con tarjeta o efectivo en puntos de pago.¡Y Siempre es seguro!</p>
            <li><h3>Envio gratis desde $ 2.500</h3></li>
            <p>Solo por estar registrada en Mercado Libre tenés envíos gratis en miles de productos. Es un beneficio de Marcado Puntos.</p>
            <li><h3>Envio gratis desde $ 2.500</h3></li>
            <p>Solo por estar registrada en Mercado Libre tenés envíos gratis en miles de productos. Es un beneficio de Marcado Puntos.</p>
            <li><h3>Seguridad, de principio a fin</h3></li>
            <p>¿No te gusta?¡Devolvelo! En MercadoLiebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
            <h3>Copyright c 1999-2020 MarcadoLiebre S.R.L.</h3>
        </ul>
    </footer>
    
    </body>
</html>
