header{
    background-color: #EAC926;;
}
.top-header p{
text-align: center;
}
body{
font-family: 'Robot';
font-size: 12px;
}
header nav ul{
    padding: 10px 0;
   
  }
  
header nav ul li{
  list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
    color: black;
  }

header .button-container{
    text-align: center;
    padding: 10px;
    }

header .button-container button.bars-menu{
text-align: center;
border-radius: 5px;
background-color: #03264c;
color: white;
padding: 10px;
font-size: 20px;
}


footer buger-menu{
    text-align: center;
    
}
footer buger-menu titulos{
    font-weight: bold;
}